@font-face {
  font-family: "Gill";
  src: url(fonts/gillsansmt.ttf) format("truetype");
}
/*------ Jewelry_input----------*/

#jewelry_input{
	background-color: rgb(49,29,76);

}
.col-xs-6.img_container a{
	  color: white;
	  position: absolute;
	  bottom: 0;
	  right: 0;
	  width: 100px;
}
.heading{
	margin: 0px auto;
}

.heading p{
	color: white;
}

table{
	margin: 0px auto;
}

.col-xs-6.img_container{
	padding-left: 2px;
	padding-right: 2px;
}

.img_container img{
	width: 100%;
}


td{
	text-align: center;
}

ul#tblList {
  width: 50%;
  margin-left: 15%;
  margin-right: 15%;
}

th, td { padding: 1.5rem; }

th{
	text-align: center;
	  margin-left: 10px;
	   width: 100px;
}

th.item {
  width: 100px;
}

td{
	padding: 6px 6px 6px 12px;
}

strong {
  font-size: 18px;
  text-align: center;
  text-decoration:underline;
  font-family: "Gill";
}

p{
	font-size: 13px;
}


.button_done{

	color: white;
}

.button_back{
	color: white;
}

.col-xs-6.button_back {
	 font-family: "Gill";
  /* position: absolute; */
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 15px;
}

button{
	background-color: transparent;
	color: white;
	border: transparent;
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{
	border: none;
	font-family: "Gill";
}

img.btnEdit {
  width: 60px;
  margin-bottom: 5px;
}
img.btnDelete {
  width: 105px;
}

img.btnBack {
	width: 60px;
}


a.ui-link {
  color: white;
}

.title_form{
	font-family: "Gill";
}

.ui-btn.ui-input-btn.ui-corner-all.ui-shadow:hover {
  background: transparent;
  color: white;
}

/*----------JEWELRY REPAIR-----------*/

.repair_input{
	margin-top: 30px;
}

.comments_repair{
	margin-top: 10px;
}

/*---------footer--------*/

.tags{
	color: white;
	text-align: center;
	margin-top: 10px;
}

.col-xs-6.footer_tags{
	background-color: rgb(20,17,35);
}

.footer_img{
	background-color: rgb(20,17,35);
}

.row.repair {
	background-color: rgb(20,17,35);
	padding-left: 0px;
	padding-right: 0px;
}

.footer{
	background-color: rgb(20,17,35);
	padding-left: 0px;
	padding-right: 0px;
    bottom: 0;
    width: 100%;
    clear: both;
}

.footer.row{
	margin-left: 0px;
}

.cam{
	margin-top: 30px;
}
/*===== gemstones===*/

.col-xs-9.itemNum_gem{
	margin-top: 17px;
}

.col-xs-8.ticketNum {
  margin-top: 20px;
}

#browse{
	color: white;
}

/*design of table*/

